{% extends 'base.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'purchase' %}" role="button">Add New item</a> <hr/>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Purchase Id</th>
      <th scope="col">Raw Item Name</th>
      <th scope="col">Raw-Item-Rate</th>
      <th scope="col">Quantity</th>
      <th scope="col">Supplier</th>
       <th scope="col"> Total rate </th>
       <th scope="col"> Recieved Material </th>
    </tr>
  </thead>
  <tbody>
{% for detail in orderlist %}
    <tr>
      <th scope="row"> {{ detail.id }}</th>
      <td>{{ detail.rawitem }}</td>
      <td>{{ detail.rawitem.rate }}</td>
      <td>{{ detail.quantity }}</td>
      <td>{{ detail.supplier }}</td>
      <td>{{ detail.total }}</td>
      <td><a class="btn btn-link" href="{% url 'material_received' detail.id %}"> Yes </a>
      <a class="btn btn-link confirm-delete" href="{% url 'deleterawitem' pk=detail.pk %}"> Remove </a> 
       <a class="btn btn-link" href="{% url 'purchase_bill' pk=detail.pk %}"> Print </a>  </td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endblock %}