{% extends 'base.html' %}

{% block content %}
<h3> <center> Packed Items </center> </h3><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Production Date</th>
      <th scope="col">Shift</th>
      <th scope="col">Item</th>
      <th scope="col">Batch number</th>
<th scope='col'>Total Production</th>
<th scope='col'>Dispatch</th>

    </tr>
  </thead>
  <tbody>
{% for detail in dispatch %}
    <tr>
      <th scope="row"> {{ detail.id }}</th>
      <td>{{ detail.production_date }}</td>
      <td>{{ detail.shift }}</td>
      <td>{{ detail.item }}</td>
      <td>{{ detail.batch_number }}</td>
      <td>{{ detail.total_production }}</td>
      <td><a class="btn btn-link" href="{% url 'dispatch' detail.id %}"> Dispatch </a>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endblock %}