{% extends 'base.html' %}

{% block content %}
<form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Select Order No</label>
                        <select type="text" class="form-control" id="inputEmail4" placeholder="Select Item">
                            <option>Order 1</option>
                            <option>Order 2</option>
                            <option>Order 3</option>
                            <option>Order 4</option>
                            <option>Order 5</option>
                        </select>
                    </div>
                </div>
                 <div>
                 <button type="Save" class="btn btn-primary">View</button>
                </div>
            </form>
{% endblock %}