{% extends 'base.html' %}
{% load crispy_forms_tags %}

 {% block content %}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'master' %}">Master</a></li>
    <li class="breadcrumb-item"><a href="{% url 'production' %}">production</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add production</li>
  </ol>
</nav>
 <form method=POST>
    <div style="color:black;" class="col-md-4">
    {% csrf_token %}

    {{ form|crispy }}
</div>
                 <button type="submit" class="btn btn-primary">Submit</button>
            </form>


{% endblock %}