<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
<div class="container">
  <div class="card">
<div class="card-header">
Invoice
<strong>01/01/01/2018</strong> 

</div>
<div class="card-body">
<div class="row mb-4">
<div class="col-sm-6">
<h6 class="mb-3">To:</h6>
<div>
<strong>{{ dispatch_bill.Workorder_id.Select_customer }}</strong>
</div>
<div>{{ dispatch_bill.Workorder_id.Select_customer.address }}</div>
<div>{{ dispatch_bill.Workorder_id.Select_customer.email_id }}</div>
<div>{{ dispatch_bill.Workorder_id.Select_customer.contact }}</div>
</div>

<div class="col-sm-6">
<h6 class="mb-3">To:</h6>
<div>
<strong>Bob Mart</strong>
</div>
<div>Attn: Daniel Marek</div>
<div>43-190 Mikolow, Poland</div>
<div>Email: marek@daniel.com</div>
<div>Phone: +48 123 456 789</div>
</div>



</div>

<div class="table-responsive-sm">
<table class="table table-striped">
<thead>
<tr>
<th class="center">Item ID</th>
<th>Item</th>
<th>Description</th>

<th class="right">Unit Cost</th>
  <th class="center">Quantity</th>
<th class="right">Total</th>
</tr>
</thead>
<tbody>
<tr>
<td class="center">{{ dispatch_bill.id }}</td>
<td class="left strong">{{ dispatch_bill.Workorder_id.Select_item }}</td>
<td class="left">{{ dispatch_bill.Workorder_id.Select_item.description }}</td>

<td class="right">{{ dispatch_bill.Workorder_id.Select_item.price }}</td>
  <td class="center">{{ dispatch_bill.Workorder_id.Quantity }}</td>
<td class="right item-amount">{{ dispatch_bill.Workorder_id.total }}</td>
</tr>
</tbody>
</table>
</div>
<div class="row">
<div class="col-lg-4 col-sm-5">

</div>

<div class="col-lg-4 col-sm-5 ml-auto">
<table class="table table-clear">
<tbody>
<tr>
<td class="left">
<strong >Subtotal</strong>
</td>
<td class="right" id="sub_total">{{ dispatch_bill.Workorder_id.total }}</td>
</tr>
<tr>
<td class="left">
<strong>GST</strong>
</td>
<td class="right" id='sgst'>{{ dispatch_bill.sgst }}</td>
</tr>
<tr>
<td class="left">
<strong>Grand Total</strong>
</td>
<td class="right">
<strong>{{ dispatch_bill.grand_total }}</strong>
</td>
</tr>
</tbody>
</table>

</div>

</div>

</div>
</div>
</div>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>