 {% extends 'base.html' %}

{% block content %}
<a class="btn btn-primary" href="{% url 'new_production' %}" role="button">Add New Production</a> <hr/>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Production Date</th>
      <th scope="col">Shift</th>
      <th scope="col">Item</th>
      <th scope="col">Batch number</th>
    </tr>
  </thead>
  <tbody>
{% for detail in production %}
    <tr>
      <th scope="row"> {{ detail.id }}</th>
      <td>{{ detail.production_date }}</td>
      <td>{{ detail.shift }}</td>
      <td>{{ detail.item }}</td>
      <td>{{ detail.batch_number }}</td>
      <td>{{ detail.total_production }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endblock %}